<?xml version="1.0" encoding="utf-8" ?> 
<configuration> 
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" />    
	    <supportedRuntime version="v2.0" />
    </startup> 
	<appSettings>
  <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  <add key="vpnName" value="kpawsvpn.advantive.services" />
  <add key="serverAddress" value="kpawsvpn.advantive.services" />
  <add key="destinationPrefixes" value="10.250.0.0/16,10.242.0.0/16" />
  <add key="caUrl" value="http://kpawsvpn.advantive.services/ca" />
  <add key="crlUrl" value="http://kpawsvpn.advantive.services/crl" />
  <add key="dnsSuffixes" value="kiwiplan.co.nz,kiwiplan.us" />
  <add key="pullCA" value="false" />
  <add key="pullCRL" value="false" />
  <add key="useDnsSuffixInDnsRegistration" value="true" />
 </appSettings>
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.IO.BlockLongPaths=false;Switch.System.IO.UseLegacyPathHandling=false"/>
    </runtime>
</configuration>