<configuration>
  <appSettings>
    <add key="vpnName" value="kiwiplan-awsvpn.advantive.services" />
    <add key="serverAddress" value="kpawsvpn.advantive.services" />
    <add key="destinationPrefixes" value="10.250.0.0/16,10.242.0.0/16,10.240.0.0/16" />
    <add key="caUrl" value="http://18.206.135.186/ca" />
    <add key="crlUrl" value="http://18.206.135.186/crl" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
